In [1]:
import pandas as pd

pd.
df = pd.read_csv("out.csv")

    0.05  1  0  5751419298591931226    human   214
0   0.05  1  3  3964697308691091202    human   479
1   0.05  1  2  2345244722981053176    human  2833
2   0.05  1  1  7023153299524444953  zombies  1395
3   0.05  1  6  5944135550474966411    human   168
4   0.05  1  7  4958344978064576663    human   100
..   ... .. ..                  ...      ...   ...
94  0.45  0  7  6126507108190223398    human   243
95  0.45  0  4  1721609523004127503    human   602
96  0.45  0  5  7688322721294904209    human   532
97  0.45  0  9  3873815370974216797    human   470
98  0.45  0  8   843082741847993483    human   955

[99 rows x 6 columns]

In [ ]:
grouping = df[df[""]]